#UserLoginSection
{
    height: 500px;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    color: black;
    margin: 120px auto;
    padding: 30px;

}
input
{
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#UserLoginSection nav
{
    display: flex;
    column-gap: 30px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: lightblue;
    padding: 20px;
    width: 70%;
    margin: 100px auto;

}